# env
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# node
node_modules/
dist/
.vite/

# local data
data/
*.log
webapp_logs*/
*.zip

# docker
**/.docker/

# azure credentials
azure_credentials.json