# env
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# node
node_modules/
dist/
.vite/

# local data
data/
*.log
token.json

# docker
**/.docker/

# terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup